.buildingInformationContainer {
	display: flex;
	width: 100%;
	height: 100%;
}
.dropdownWrapper,
.mapWrapper,
.infoWrapper {
	padding: 30px;
	width: 33.333%;
}
.infoWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.filterItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	div {
		width: 50%;
	}
}

.filtersWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	padding-left: 30px;
}
.select {
	width: 100% !important;
	height: 40px;
}

.buttonWrapper {
	display: flex;
	justify-content: flex-end;
}

.buttonsWrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.titleWrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
}
.title {
	font-size: 55px;
}

.description {
	width: 320px;
	height: 40px;
}
